PORT=10000
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
JWT_EXPIRATION_MS=86400000
NOWPAYMENTS_API_URL=https://api.nowpayments.io/v1/payment
NOWPAYMENTS_INVOICE_URL=https://api.nowpayments.io/v1/invoice
NOWPAYMENTS_API_KEY=your-nowpayments-api-key
NOWPAYMENTS_IPN_SECRET=your-nowpayments-ipn-secret
CATPROXIES_API_BASE_URL=https://catproxies.com/api/v1/public
CATPROXIES_API_KEY=your-catproxies-api-key
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,https://uniproxy.netlify.app,https://uniproxy.cc

SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.lgxievteoxzvasxpbslc
SPRING_DATASOURCE_PASSWORD=your-supabase-database-password
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

APP_SEED_USER_USERNAME=user
APP_SEED_USER_EMAIL=user@uniproxy.local
APP_SEED_USER_PASSWORD=your-seed-user-password

APP_SEED_ADMIN_USERNAME=admin
APP_SEED_ADMIN_EMAIL=admin@uniproxy.local
APP_SEED_ADMIN_PASSWORD=your-seed-admin-password
